<ion-view view-title="Artikelen">
  <ion-content>
    <ion-list>
    <p>In here it is possible to get an clear overview of the products; These can be directly added to the list.</p>
      <ion-item ng-repeat='item in items' ng-click='addItemToList(item)'>
        <h3>{{item.name}}</h3>
      </ion-item>
      
    </ion-list>
  </ion-content>
    <div class="bar bar-footer bar-stable">
      <a class="btn-floating btn-large waves-effect waves-light red addButton">
        <i class="material-icons">+</i>
      </a>
    </div>
</ion-view>