<ion-view view-title="Maak een Account">
  <ion-content>
  </br>
  <p style="text-align:center; font-size:larger;">Maak een account aan op basis van je:</p>
  </br>
    <div class="row">
        <a class="waves-effect waves-light btn" style="display:block; margin:auto;">
          E-mail
        </a>
      </div>
    <div class="row">
        <a class="waves-effect waves-light btn" style="display:block; margin:auto;">        
          Facebook
        </a>
      </div>
    <div class="row">
        <a class="waves-effect waves-light btn" style="display:block; margin:auto;">       
          Google+
        </a>
      </div>
  </ion-content>
</ion-view>

