<ion-view view-title="Inloggen">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email address" ng-model="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <br>
      <p>
      <input type="checkbox" class="filled-in" id="filled-in-box"/>
      <label for="filled-in-box">Onthoud mijn gegevens</label>
    </p>
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <button class="button button-stable centerButtonsLoginScreen" ng-click="doLogin(email , password)">
          Inloggen
        </button>
      </div>
    </div>
      <div class="col">
        <p class="no-account-text centerButtonsLoginScreen">Geen account?</p>
      </div>
      <div class="col">
        <a class="waves-effect waves-teal btn-flat create-account-button centerButtonsLoginScreen">Maak een Account</a>
      </div>
  </ion-content>
</ion-view>

