<ion-view view-title="Inloggen">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email address">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>
    <div class="row">
      <div class="col col-33 col-offset-33">
        <button class="button button-stable" ng-click="doLogin()">
          Inloggen
        </button>
         <div class="col"></div>
      </div>
    </div>
  </ion-content>
</ion-view>

