<ion-view view-title="Onze Lijst">
  <ion-content>
    <ion-list>
    <div class="list">
      <a ng-repeat='item in items' class="item item-avatar" href="#">
        <img src="../img/ionic.png">
        <h2>{{item.name}}</h2>
        <p>Description of article</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="../img/ionic.png">
        <h2>Article 2</h2>
        <p>Description of article</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="../img/ionic.png">
        <h2>Article 3</h2>
        <p>Description of article</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="../img/ionic.png">
        <h2>Article 4</h2>
        <p>Description of article</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="../img/ionic.png">
        <h2>Article 5</h2>
        <p>Description of article</p>
      </a>
    </div>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
      <a class="btn-floating btn-large waves-effect waves-light red addButton">
        <i class="material-icons">+</i>
      </a>
    </div>
</ion-view>