/* Empty. Add your own CSS if you like */
.fb_iframe_widget span{
	width: 100%;
	z-index:999;
}


.btn-floating{
	float:right;
	margin-right:15px;
	margin-top:25px;
}

.add-input {
  width: 100%;
  min-height: 72px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 16px;
    font-weight: normal;
    margin: 0 0 2px;
  text-indent: 72px;
}